---
interface Props {
  class?: string;
  width?: string;
  height?: string;
  color?: string;
}

const {
  class: className = "",
  width = "w-60",
  height = "h-60",
  color = "#DF643F",
} = Astro.props;

const patternId = `dot-pattern-${Math.random().toString(36).substr(2, 9)}`;
---

<div class={`absolute opacity-70 z-0 ${width} ${height} ${className}`}>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 100 100"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <pattern
      id={patternId}
      x="0"
      y="0"
      width="20"
      height="20"
      patternUnits="userSpaceOnUse"
    >
      <circle cx="2" cy="2" r="2" fill={color}></circle>
    </pattern>
    <rect width="100%" height="100%" fill={`url(#${patternId})`}></rect>
  </svg>
</div>
